*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.image{
  width:100%;
  height:200px;
}
.item1{
  background-image:url(img/box1.jpg);
  background-size:cover;
  background-position:center;
}
.item2{
  background-image:url(img/box2.jpg);
  background-size:cover;
  background-position:center;
}
.item3{
  background-image:url(img/box3.jpg);
  background-size:cover;
  background-position:center;
}
.item4{
  background-image:url(img/box4.jpg);
  background-size:cover;
  background-position:center;
}